body {
	background-color: #f1f1f1 !important;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
}
h2 {
	font-size: 1.2rem;
}
label {
	margin-bottom: 0;
}
#wpbody a {
	color: #0073aa !important;
	text-decoration: none;
}
#wpbody a:hover {
	color: #0073aa !important;
	text-decoration: none;
}
.option-header .logo h2 {
	font-weight: 700;
	margin: 0;
	font-size: 2rem;
}
.option-header .saimon-links ul li {
	margin: 10px;
}
.option-header .saimon-links ul li a {
	font-weight: 600;
	color: #333333;
}
.option-header .saimon-links ul li a:hover {
	color: #266CD8;
	text-decoration: none;
}