a, a:hover {
	text-decoration: none;
	display: inline-block;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
}
.pt-50 {
	padding-top: 50px;
}
.pb-50 {
	padding-bottom: 50px;
}
.pt-100 {
	padding-top: 100px;
}
.pb-100 {
	padding-bottom: 100px;
}
.justify-content-right {
	justify-content: right;
}
.text-right {
	text-align: right;
}
.navbar-brand {
	font-size: 2rem;
	font-weight: bold;
	display: block;
}
.banner {
	padding: 100px 0;
}
.breadcrumb {
	background: transparent !important;
	justify-content: center;
	display: flex;
}
.breadcrumb .breadcrumb-item a {
	text-decoration: none;
}
.widget-title {
	font-size: 1.2rem;
	margin: 0;
	font-weight: 600;
	text-transform: uppercase;
}
.widget {
	margin-bottom: 1rem;
}
.widget:last-child {
	margin-bottom: 0;
}
.widget ul {
	list-style: none;
	padding: 0;
	margin: 1rem 0 0 0;
}
.widget ul li {
	margin: 5px 0;
}
.footer.dark .widget ul li {
	color: #f8f8f8;
}
.widget ul li a {
	color: #222222;
	font-weight: bold;
	font-size: 14px;
	display: block;
}
.widget ul li a:hover {
	color: #266cd8 !important;
	text-decoration: none;
	transition: .3s;
}
.widget ul li span {
	display: block;
	font-size: 14px;
}
.footer .widget ul li a {
	color: #f8f8f8;
}
.footer.dark .widget-title {
	color: #f8f8f8;
}
.tagcloud {
	margin-top: 1rem;
}
.tagcloud a {
	border: 1px solid #222222;
	font-size: 15px !important;
	color: #222222;
	text-decoration: none;
	padding: 2px 5px;
	margin: 2px;
	display: inline-block;
	transition: .3s;
}
.footer.dark .tagcloud a {
	border-color: #f8f8f8;
	color: #f8f8f8;
}
.tagcloud a:hover {
	border-color: #266cd8;
	background: #266cd8;
	color: #f8f8f8;
}
.footer {
	padding: 50px 0;
}
.footer-widget .logo {
	margin: 1rem 0;
}
.footer-widget .logo img {
	max-width: 200px;
	height: auto;
}
.footer.dark .footer-widget .about .description p {
	color: #f8f8f8;
}
.widget .social-links ul li a {
	border: 1px solid transparent;
	padding: 5px 15px;
}
.widget .social-links ul li a {
	border: 1px solid transparent;
	padding: 3px 6px;
	background: #266CD8;
	color: #f8f8f8;
}
.widget .social-links ul li a {
	width: 35px;
	height: 35px;
	display: block;
	text-align: center;
}
.widget .social-links ul li a i {
	vertical-align: middle;
}
.footer.dark .widget .social-links ul li a {	
	background: #f8f8f8;
	color: #266CD8;
}
.footer.dark .widget .social-links ul li a:hover {
	background: #266CD8;
	color: #f8f8f8 !important;
}
.wp-calendar-table {
	width: 100%;
	margin-top: 1rem;
}
.widget .gallery-columns-8 .gallery-item,
.widget .gallery-columns-7 .gallery-item,
.widget .gallery-columns-6 .gallery-item,
.widget .gallery-columns-5 .gallery-item,
.widget .gallery-columns-4 .gallery-item,
.widget .gallery-columns-3 .gallery-item,
.widget .gallery-columns-2 .gallery-item
{
	float: left;
	overflow: hidden;
}
.widget .gallery {
	margin-top: 1rem;
}
.widget .gallery .gallery-item {
	margin-bottom: 3px;
}
.widget .gallery .gallery-item img {
	width: 100%;
	height: auto;
	margin: 0 3px 0 3px;
}
.widget .gallery-columns-4 .gallery-item {
	width: 25%;
}
.widget .gallery .gallery-item:last-child {
	float: none;
}
div.search {
	margin-top: 1rem;
}
.footer-widget .search .form-inline button {
	margin-top: .5rem !important;
}
.footer.dark .footer-widget .wp-calendar-table,
.footer.dark .footer-widget .wp-calendar-table caption,
.wp-calendar-nav span a {
	color: #f8f8f8;
	transition: .3s;
}
.wp-calendar-nav span a:hover {
	color: #266CD8;
}
.card .blog-thumb {
	overflow: hidden;
}
.card .blog-thumb img {
	transition: .5s;
}
.card:hover img {
	transform: scale(120%);
}

/* Comment Style */

.parent.saimon-comment {
	margin-left: 0;
}
.saimon-comment .saimon-comment {
	margin-left: 100px;
}
.saimon-comment-left {
	float: left;
	width: 10%;
}
.saimon-comment-left img {
	max-width: 90%;
	height: auto;
}
.saimon-comment-body {
	overflow: hidden;
	width: 90%;
}
.saimon-comment-heading a {
	font-weight: bold;
	text-transform: uppercase;
}
.comment-content {
	margin: .5rem 0;
}
.single-blog .blog-title {
	font-size: 3rem;
	text-align: center;
	text-transform: uppercase;
	margin: 1rem 0;
}
.card .mask {
	background-color: rgba(251, 251, 251, 0.15);;
}
.card .bg-image img {
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}
.card .iconbox-icon {
	margin-top: 2rem;
}
.card .iconbox-icon i {
	display: inline-block;
	font-size: 40px;
}